<a href="https://colab.research.google.com/github/nath229/nath229/blob/main/Restaurant_Recommending_System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Restaurant Recommender

Importing the required packages

In [69]:
import pandas as pd

Reading the dataset

In [70]:
df=pd.read_csv("/content/zomato.csv",encoding="latin-1")

Mapped Country codes to respextive countries

In [71]:
countryCode_toName = {
    1: "India",
    14: "Australia",
    30: "Brazil",
    37: "Canada",
    94: "Indonesia",
    148: "New Zealand",
    162: "Phillipines",
    166: "Qatar",
    184: "Singapore",
    189: "South Africa",
    191: "Sri Lanka",
    208: "Turkey",
    214: "UAE",
    215: "United Kingdom",
    216: "United States",
}

Map Function

In [72]:
df['Country'] = df['Country Code'].apply(lambda x: countryCode_toName[x])

Showing the first 5  data entries

In [73]:
df.head()

   Restaurant ID         Restaurant Name  ...  Votes      Country
0        6317637        Le Petit Souffle  ...    314  Phillipines
1        6304287        Izakaya Kikufuji  ...    591  Phillipines
2        6300002  Heat - Edsa Shangri-La  ...    270  Phillipines
3        6318506                    Ooma  ...    365  Phillipines
4        6314302             Sambo Kojin  ...    229  Phillipines

[5 rows x 22 columns]

Taking the restaurants of india only

In [74]:
new_df = df.loc[(df['Country Code'] == 1),:]

In [75]:
new_df

      Restaurant ID                        Restaurant Name  ...  Votes Country
624         3400025                             Jahanpanah  ...    140   India
625         3400341                    Rangrezz Restaurant  ...     71   India
626         3400005                Time2Eat - Mama Chicken  ...     94   India
627         3400021  Chokho Jeeman Marwari Jain Bhojanalya  ...     87   India
628         3400017                         Pinch Of Spice  ...    177   India
...             ...                                    ...  ...    ...     ...
9271        2800100                               D Cabana  ...    193   India
9272        2800418                               Kaloreez  ...     85   India
9273        2800881                                Plot 17  ...    172   India
9274        2800042                       Vista - The Park  ...     74   India
9275        2800019               Flying Spaghetti Monster  ...    316   India

[8652 rows x 22 columns]

Cleaning the entries where attribute "Rating text" is "not rated"

In [77]:
new_df = new_df.loc[(df['Rating text']!='Not rated'),:]

In [78]:
new_df.loc[(df['Rating text']=='Not rated'),:].count()

Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                0
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
Country                 0
dtype: int64

In [79]:
new_df.head()

     Restaurant ID                        Restaurant Name  ...  Votes Country
624        3400025                             Jahanpanah  ...    140   India
625        3400341                    Rangrezz Restaurant  ...     71   India
626        3400005                Time2Eat - Mama Chicken  ...     94   India
627        3400021  Chokho Jeeman Marwari Jain Bhojanalya  ...     87   India
628        3400017                         Pinch Of Spice  ...    177   India

[5 rows x 22 columns]

In [80]:
new_df.drop(['Country Code'],axis=1,inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [81]:
new_df.head()

     Restaurant ID                        Restaurant Name  ... Votes Country
624        3400025                             Jahanpanah  ...   140   India
625        3400341                    Rangrezz Restaurant  ...    71   India
626        3400005                Time2Eat - Mama Chicken  ...    94   India
627        3400021  Chokho Jeeman Marwari Jain Bhojanalya  ...    87   India
628        3400017                         Pinch Of Spice  ...   177   India

[5 rows x 21 columns]

In [85]:
new_df.shape

(6513, 21)

In [93]:
import folium as fl

In [95]:
my_map1 = fl.Map(location = [28.5011226, 77.4099794],
                                        zoom_start = 12 )
fl.CircleMarker(location = [28.5011226, 77.4099794],
                    radius = 50, popup = ' FRI ').add_to(my_map1)

In [ ]:
my_map1

In [103]:
my_map3 = fl.Map(location = [28.5011226, 77.4099794],
                                        zoom_start = 15)
fl.Marker([28.5011226, 77.4099794],
               popup = ' Geeksforgeeks.org ').add_to(my_map3)

In [ ]:
my_map3